@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  background: #23074d;
  background: -webkit-linear-gradient(to right, #23074d, #cc5333);
  background: linear-gradient(to right, #23074d, #cc5333);
}

* {
  /* font styling */

  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: red;
}

.logo {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.error-message {
  color: rgb(219, 209, 209);
  padding: 20px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 12px;
}
